@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center mb-4">
        <h1 class="display-4">Welcome to my Uni Exam</h1>
        <p>This is a simple web application developed for course CI-0126</p>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <h2>About the Application</h2>
            <p class="text-justify">
                This web application allows you to manage information about schools. Specifically, it focuses on the "Escuelas" table, which stores data about public schools of Costa Rica.
                You can perform CRUD operations (Create, Read, Update, and Delete) on the "Escuelas" table using the dedicated page provided.
            </p>
            <p class="text-justify">
                The "Escuelas" page provides an intuitive interface where you can add new schools, view existing school information, update school details, and delete schools from the database.
                It offers a seamless way to manage and organize data related to public schools.
            </p>
        </div>

        <div class="col-lg-6">
            <h2>Getting Started</h2>
            <p class="text-justify">
                To begin using the application and accessing the "Escuelas" page, you can click on the "Escuelas" option in the navigation bar at the top of the page.
                This will take you to the page where you can interact with the "Escuelas" table and perform various operations on the data.
            </p>
            <p class="text-justify">
                Feel free to explore the functionalities, create new schools, update information, and delete schools as needed.
                The application provides an easy-to-use interface, making it convenient to manage public school data efficiently.
            </p>
        </div>
    </div>

    <footer class="text-center mt-5">
        <p>Made by Josué Retana Rodríguez - C06440</p>
        <p>&copy; 2023 All rights reserved</p>
    </footer>

</div>

