<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schools</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav id="mainNavbar" class="navbar custom-navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-4">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-1 p-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-button text-white fs-6 rounded pl-5" type="button" id="schoolMainDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Schools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="schoolDropdown">
                                <li>
                                    <a id="indexListSchools" class="dropdown-item" href="@Url.Action("Index", "School")">List of Schools</a>
                                </li>
                                <li>
                                    <a id="indexCreateSchool" class="dropdown-item" href="@Url.Action("CrearSchool", "School")">Create a School</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
